@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Sacramento&display=swap');

/* .container {
    position: relative;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.header {
    font-family: 'Sacramento', cursive;
    color: rgb(27, 81, 103);
    font-size: 100px;
    margin: 0;
}

.desc {
    font-size: 22px;
    opacity: 70%;
}

.box-1 {
    height: 100vh;
    position: relative;
    padding-top: 10%;
    background-color: #E4F9F5;
}

.box-2 {
    background-color: red;
    height: 200px;
    width: 200px;
}

.box-3 {
    background-color: blue;
    height: 200px;
    width: 200px;
}

.box-4 {
    background-color: yellow;
    height: 200px;
    width: 200px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 10%;
}

.bot-cloud {
    position: absolute;
    left: 250px;
}

.middle-container {
    background-color: rgb(254, 250, 255);
}

.skill-row {
    width: 50%;
    margin: 150px auto;
    text-align: left;
    line-height: 1.8;
}

.skill-image {
    border-radius: 100%;
    width: 15%;
    margin-top: 100px;
}

.skill-header {
    font-size: 45px;
    color: #66bfbf;
}

.skill-text {
    font-size: 18px;
    width: 25%;
    margin: 50px auto;
}

.img-1 {
    width: 25%;
    float: left;
    margin-right: 30px;
    border-radius: 30px;
}

.img-2 {
    width: 25%;
    float: right;
    margin-left: 30px;
    border-radius: 30px;
}

hr {
    color: #9fe2e2;
    border-style: dotted none none;
    border-width: 10px;
    width: 10%;
    margin: 150px auto;
}

.btn {
    background-color: #66bfbf;
    padding: 10px 50px;
    text-decoration: none;
    text-align: center;
    margin: 100px auto;
    color: #fff;
    font-weight: semibold;
    border-radius: 15px;
}

.btn:hover {
    background-color: #4acccc;
}

.bottom-container {
    background-color: #66bfbf;
    margin-top: 100px;
    padding: 50px;
    text-align: center;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin: 10px 20px;
}

.bottom-container p {
    margin: 20px 0;
    font-weight: semibold;
} */

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.contentBody {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.navBar {
    background-color: rgb(249, 230, 249);
    height: 120px;
}

.navLogo {
    position: absolute;
    top: 30px;
    left: 100px;
}

.navLogo h2 {
    color: rgb(101, 26, 101);
    font-weight: bold;
    font-size: 30px;
}

.navItems {
    position: absolute;
    top: 40px;
    right: 100px;
}

.navItems a {
    color: rgb(53, 11, 53);
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    padding: 0 10px;
}

.navItems a:hover {
    color: rgb(153, 51, 153);
    ;
}

.navItems button {
    background-color: rgb(90, 19, 90);
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    padding: 7px 40px;
    margin: 0 30px;
    border-radius: 10px;
    border: none;
}

.navItems button:hover {
    background-color: #914b91;
    color: #fff;
}

.row-test {
    width: 200px;
    height: 200px;
    background-color: #914b91;
    border: 1px solid;
}

.container-fluid {
    padding: 3% 15%;
}

.title {
    background-color: #914b91;
    padding: 3% 10%;
    z-index: 1;
}

.title-content h1 {
    font-size: 48px;
    line-height: 1.5;
    color: #fff;
    font-weight: bold;
    margin: 50px 0;
}

.iphone {
    padding: 15px 25px;
    margin-right: 30px;
    background-color: #5e1957;
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
}

.iphone a {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
}

.iphone a:hover {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
}

.iphone:hover {
    background-color: #6c1b64;
}

.android {
    padding: 15px 25px;
    border: 1px #fff;
    font-weight: 600;
    border-radius: 10px;
}

.android a {
    text-decoration: none;
    color: #6c1b64;
    margin-left: 10px;
}

.android a:hover {
    text-decoration: none;
    color: #6c1b64;
    margin-left: 10px;
}

.android:hover {
    background-color: #eabfe6;
}

.title-image {
    width: 25px;
    height: 25px;
}

.title-mainImg {
    width: 50%;
    transform: rotate(25deg);
    margin-left: 100px;
}

.features {
    text-align: center;
    padding: 7% 10%;
    z-index: 1;
    position: relative;
    background-color: #fff;
}

.features h3 {
    font-size: 26px;
    color: #6c1b64;
    font-weight: 600;
    margin-top: 30px;
}

.features p {
    font-size: 16px;
    color: #391536;
    width: 50%;
    margin: 15px auto;
    opacity: 70%;
}

.feature-img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.slider {
    background-color: #ec7fb4;
    padding: 7% 15%;
    text-align: center;
    color: #fff;
}

.slider h2 {
    width: 60%;
    font-weight: bold;
    margin: 20px auto;
    font-size: 35px;
    line-height: 1.5;
}

.slider img {
    width: 15%;
    border-radius: 100%;
    margin: 25px;
}

#press {
    background-color: #ec7fb4;
    text-align: center;
    padding-bottom: 5%;
}

.press-logo {
    width: 12%;
    margin: 20px 50px;
}

#pricing {
    text-align: center;
    padding: 7% 10%;
}

.pricing-body {
    background-color: #fff;
    border: 1px solid #e7dcdc;
    text-align: center;
    margin: 50px 0;
    border-radius: 10px;
}

.pricing-title {
    color: #6c1b64;
    padding: 15px;
    font-size: 25px;
    font-weight: semibold;
    background-color: #faebf8;
    border-bottom: 1px solid #dac1d6;
}

.pricing-items {
    margin: 50px 0;
}

.pricing-footer button {
    background-color: #6c1b64;
    border: none;
    padding: 12px 120px;
    color: #fff;
    margin: 10px 0 20px;
    border-radius: 15px;
}

.pricing-body:hover {
    background-color: #f8eff7;
}

.cta {
    background-color: #912b86;
    text-align: center;
    color: #fff;
    padding: 7% 15%;
}

.cta h1 {
    font-weight: 600;
    width: 60%;
    margin: 0px auto 40px;
    line-height: 1.5;
    font-size: 3em;
}

#footer {
    background-color: #fff;
    text-align: center;
    color: #5e1957;
    padding: 3% 5%;
    font-weight: 500;
}

@media (max-width: 1028px) {
    .title-mainImg {
        position: static;
        transform: rotate(0);
        margin: 50px 0;
    }
    .title {
        text-align: center;
    }
}